h1{
  font-size: 50px;
}

.add-button{
  background-color: #0af;
  color: white;
  padding: 1em 2em;
}

input[type="text"]{
  border: 2px solid #ccc;
  padding: 1em;
  margin-right: 2em;
}

.completed-list li{
  opacity: 50%;
}

ol{
  list-style-type: none;
  padding-left: 0;
}

li{
  margin-bottom: 1em;
}

.add-todo-container{
  margin-bottom: 2em;
}

.list-button, .list-button-spacer{
  margin-left: 1em;
  min-width: 2em;
}
.list-button{
  cursor: pointer;
}
.completed-item{
  text-decoration: line-through;
}